<!DOCTYPE html>
<html lang="en" ng-app="stripeApp" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Coupons</title>
</head>
<body>
<h1 class="text-center">Coupons</h1>
<div ng-view>
</div>
<script src="/app.js" type="application/javascript"></script>
</body>
</html>
